body {
	margin: 0;
}

header {
	background-color: black;
	height: 60px;
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	z-index: 2;
}

.title {
	display: inline-block;
    font-size: 14px;
    margin: 0;
}

h1, h2 {
	margin: 0;
}


nav  {
	float: right
}

nav ul {
	list-style: none;
	font-size: 20px;
	display: inline-block;
	margin: 0;
}

nav li {
	display: inline;
	margin-right: 20px;
}

header form {
	display: inline-block;
}

fieldset {
	border: 0;
}

a:link    {
	text-decoration:  none;
	font-weight:      bold;
} 

a:visited {
	text-decoration:  none;
	font-weight:      bold;;
} 

a:hover   {
	text-decoration:  underline;
	font-weight:      bold;
	color:            #fff;
} 

a:active  {
	text-decoration:  underline;
	font-weight:      bold;
	color: white;
} 

.flex {
	display: flex;
    flex-wrap: wrap;
}

.container {
	max-width: 900px;
	margin-right: auto;
	margin-left:  auto;
	margin-top: 60px;
	padding-top: 20px;
}

.topthreewinner, .topthreeloser {
	background-color: #faf2ff;
    box-sizing: border-box;
    padding: 10px;
    width: 375px;
    min-height: 260px;
    margin: auto;
    margin-bottom: 15px;

}

.topheader {
	text-align: center;
}

.topthreewinner ol, .topthreeloser ol{
	font-size: 20px;
	padding-left: 15px;
}

.topWin3results li, .topLos3results li, .llboardresults li {
	height: 50px;
	box-sizing: border-box;
	padding: 8px;
	font-size: 20px;
}

.top3sym {
	height: 100%;
}

.topContent {
	display: inline-block;
	font-size: 16px
}

.pecentageArrow {
	display: inline-block;
	margin-left: 16px;
}

.fa-sort-asc {
	color: green;
}

.fa-caret-down {
	color: red;
}

.positiveIncrease {
	display: inline-block;
	color: green;
	font-size: 16px;
}

.negativeIncrease {
	display: inline-block;
	color: red;
	font-size: 16px;
}

.leader-looser, .aboutContent {
	display: none;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.leader-looser{
	xsoverflow-y: scroll;
    height: 100vh;
}

.boardclose, .aboutclose {
	float: right;
    position: relative;
    top: -40px;
}

.leader-looser .container, .aboutContent .container {
	background-color: gray;
	box-sizing: border-box;
	padding: 20px;
}

/*leader chart css*/
.dayLeader, .searchresult {
	background-color: #faf2ff;
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	margin-bottom: 50px;
  
}

.imageIcon {
  height: 100px;
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
}

.imageIcon img{
  display: block;
  margin: auto;
  height: 100%;
}

.searchCoinInfo {
  width: 50%;
  height: 100px;
}
.coinName{
  font-size: 20px;
  display: inline-block;
  width: 40%;
  height: 50%;
}

.coinPercentage {
  margin: auto;
  font-size: 20px;
  display: inline-block;
  width: 25%;
  text-align: right;
  height: 50%;
}

.coinCost{
  text-align: center;
  margin: auto;
  display: inline-block;
  width: 30%;
  height: 50%;
  font-size: 20px;
}

.priceData {
  display: inline-block;
  width: 32%;
  height: 50%;
  margin: auto;
  text-align: center;
}

.priceData h4, .priceData p {
  margin: 0;
}
.searchRanking {
  width: 25%;
  text-align: center;
  height: 100PX;
  box-sizing: border-box;
  padding: 5px;
}

.searchRanking h2 {
  margin: 0;
  margin-bottom: 5px;
}

.searchRanking p {
  font-size: 40px;
  margin: 0;
}
#dayLeaderChart {
  width: 100%;
  margin: auto;
}


footer {
	position: relative;
	bottom: 0;
   	width:100%;
   	background-color: black;
   	color: white;
   	text-align: center;
}

@-ms-viewport{
  width: device-width;
}

@media screen and (max-width:720px){
  .imageIcon {
    order: 1;
  }
  .searchCoinInfo {
    order: 3;
    width: 100%;
  }
  .searchRanking {
    order:2;
    margin: auto;
  }
}

@media screen and (min-width: 780px) {
	main {
		padding-top: 100px;
	}
}