body {
	margin: 0;
	background-color: #faf2ff;
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: black;
	height: 60px;
	color: white;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}

.title {
	display: inline-block;
    font-size: 14px;
    margin: 0;
}

h1, h2 {
	margin: 0;
}

h2 {
	margin: 10px;
	font-size: 23px;
}

p {
	font-size: 16px;
}


fieldset {
	border: 0;
}

a:link    {
	text-decoration:  none;
	font-weight:      bold;
} 

a:visited {
	text-decoration:  none;
	font-weight:      bold;;
} 

a:hover   {
	text-decoration:  underline;
	font-weight:      bold;
	color:            #fff;
} 

a:active  {
	text-decoration:  underline;
	font-weight:      bold;
	color: white;
} 

/*main .container{
	background-color: white;
}
*/

.container {
	font-size: 0;
	max-width: 1000px;
	margin-right: auto;
	margin-left:  auto;
	padding-top: 5px;
}

#snapshotData {
	/*background-color: white;*/
}

.topthreebox {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;

}

.topheader {
	text-align: center;
}

.topWin3results, .topLoss3results{
	font-size: 20px;
	padding-left: 0;
	text-align: center;
}

.topresult, .llboardresults li {
	height: 20px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 16px
}

.topresult:nth-child(1) {
	height: 26px;
	font-size: 23px;
	margin-bottom: 10px;
}

.topresult:nth-child(2) {
	height: 23px;
	font-size: 20px;
	margin-bottom: 10px;
}

.topresult:nth-child(3) {
	height: 20px;
	font-size: 16px;
}

.top3sym {
	float: left;
	height: 100%;
	margin-right: 10px;
}

.top3sym img {
	height: 100%;
}

.topContent {
	float: left;
	margin-right: 10px;
}

.topContent p {
	margin: 0;
}

.pecentageArrow {
	float: left;
}

.fa-sort-asc {
	color: green;
}

.fa-caret-down {
	color: red;
}

.positiveIncrease {
	display: inline-block;
	color: green;
	float: right;
}

.positiveIncrease:before {
	content: "\f0d8";
	font-family: FontAwesome;
	color: green;
}

.negativeIncrease {
	display: inline-block;
	color: red;
	float: right;
}

.negativeIncrease:before {
	content: "\f0d7";
	font-family: FontAwesome;
	color: red;
}

.modal{
	display: none;
	box-sizing: border-box;
	padding: 20px;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: white;
	padding: 10px;
}

.leader-looser{
	overflow-y: scroll;
    height: 97vh;
   
}

.boardclose, .aboutclose, .searchclose {
	font-size: 50px;
    position: absolute;
    top: 12;
}

div.boardclose {
	top: 20;
}


.dayLeader, .searchresult {
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
	min-height: 520px;
	margin-bottom: 20px;
  
}

.dayLeader {  
	box-sizing: border-box;
	min-height: 420px;    
	font-size: 0;   
	float: left;                                         
}

.leaderData{
	text-align: center;
}

#dayLeaderChart {
	float: left;
	height: 400px;
	width: 100%;
	margin: auto;
}

.imageIcon {
	display: inline-block;
	float: left;
	height: 100px;
	width: 18%;
	padding: 5px;
	box-sizing: border-box;
}

.imageIcon img{
	display: block;
	margin: auto;
	height: 100%;
}

.searchCoinInfo {
	display: inline-block;
	float: left;
	width: 64%;
	height: 100px;
	font-size: 16px;
}
.coinName{
  font-size: 20px;
  display: inline-block;
  float: left;
  width: 30%;
  height: 50%;
}

.coinPercentage {
  margin: auto;
  font-size: 20px;
  display: inline-block;
  float: left;
  width: 25%;
  height: 50%;
}

.coinCost{
  margin: auto;
  display: inline-block;
  float: left;
  width: 40%;
  height: 50%;
  font-size: 20px;
}

.priceData {
  display: inline-block;
  width: 32%;
  height: 50%;
  margin: auto;
  text-align: center;
}

.priceData h4, .priceData p {
  margin: 0;
}

.searchRanking {
	font-size: 20px;
	display: inline-block;
	float: left;
	width: 18%;
	text-align: center;
	height: 100PX;
	box-sizing: border-box;
	padding: 5px;
}

.searchRanking h2 {
	margin: 0;
	margin-bottom: 5px;
}

.searchRanking p {
	font-size: 40px;
	margin: 0;
}

.innerbox {
	box-sizing: border-box;
	float: left;
    width: 100%;
	background-color: white;
    box-shadow: 1px 1px 10px 1px #b7a6a6;
    padding: 5px;
}

/*This is for all the news links*/
.news{
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
}


article {
	box-sizing: border-box;
	text-align: left;
	float: left;
	padding: 5px;
	font-size: 0;
	background-color: white;
    margin-bottom: 5px;
    box-shadow: 1px 1px 10px 1px #b7a6a6;
	-webkit-transition: all .6s;
    transition: all .6s;	
}

article:hover {
	box-shadow: 3px 4px 8px 1px black;
	/*box-shadow: 3px 2px 8px black;*/
}

article a:hover   {
	
	text-decoration:  underline;
	font-weight:      bold;
	color:            #82989e;
} 

.newsImgBox {
	width: 30%;
    display: inline-block;
    float: left;
}

.newsImgBox img{
	width: 100%;
}

.newsTitleBox {
	width: 70%;
    display: inline-block;
    float: left;
    padding-left: 5px;
    box-sizing: border-box;
}

.newsTitleBox h4 {
	margin: 0;
	font-size: 22px;
}

.newsTitleBox p {
	margin: 0;
	margin-top: 10px;
	font-size: 18px;
}

/*this css is for the reponsive nar bar*/
.navopenbars {
	margin-right: 15px;
}

.navfullscreenlinks, #fullscreenfinder {
	display: none;
}

#mySidenav {
	background-color: black;
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    overflow-x: hidden;
    -webkit-transition: all .4s;
    transition: all .4s;

}
/*this css controls the footer and its elements*/
footer {

	/*position: absolute;
	right: 0;	
	bottom: 0;
	left: 0;*/
	float: left;
   	width:100%;
   	height: 20px;
   	background-color: black;
   	color: white;
   	text-align: center;
}

.fa-btc {
  -webkit-animation:spin 4s linear infinite;
}

@-webkit-keyframes spin {
   100% { -webkit-transform: rotate(360deg); } 
}

/*this is the responsive changes*/
@media screen and (max-width: 550px) {
	.searchCoinInfo {
		float: right;
		width: 100%;
	}

	.imageIcon {
		width: 50%;
	}

	.searchRanking {
		width: 50%;
		float: inherit;
	}
	/*#dayLeaderChart {
		height: 714px;
	}*/
}

@media	screen and (min-width: 720px) {
	#snapshotData {
		width: 70%;
		float:left;
		font-size: 0;
	}

	
	.news {
		width: 30%;
		float: left;
	}

	.newsTitleBox h4 {
		font-size: 16px;
	}

	.newsTitleBox p {
		font-size: 12px;
	}

}

@media screen and (min-width: 780px) {
	.llboardresults{
		padding-left: 75px;
	}

	.llboardresults .topContent p{
		font-size: 37px;
	}

	.llboardresults li {
		height: 40px;
		font-size: 37px;
	}

}

@media screen and (min-width: 880px) {
	nav  {
		float: right
	}

	nav ul {
		list-style: none;
		font-size: 20px;
		display: inline-block;
		margin: 0;
	}

	nav li {
		display: inline;
		margin-right: 20px;
	}

	header form {
		display: inline-block;
	}

	#mySidenav {
		display: none;
	}

	.navopenbars {
		margin-right: 15px;
		display: none;
	}

	.navfullscreenlinks, #fullscreenfinder {
		display: inline-block;
	}

	.topthreebox {
		width: 50%;
		float: left;
	}
}


