body {
	margin: 0;
}

header {
	background-color: black;
	height: 60px;
	color: white;
	position: fixed;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
	z-index: 1;
}

.title {
	display: inline-block;
    font-size: 14px;
    margin: 0;
}

h1 {
	margin: 0;
}

nav  {
	float: right
}

nav ul {
	list-style: none;
	font-size: 20px;
	display: inline-block;
	margin: 0;
}

nav li {
	display: inline;
	margin-right: 20px;
}

header form {
	display: inline-block;
}

fieldset {
	border: 0;
}

a:link    {
	text-decoration:  none;
	font-weight:      bold;
} 

a:visited {
	text-decoration:  none;
	font-weight:      bold;;
} 

a:hover   {
	text-decoration:  underline;
	font-weight:      bold;
	color:            #fff;
} 

a:active  {
	text-decoration:  underline;
	font-weight:      bold;
	color: white;
} 

.flex {
	display: flex;
    flex-wrap: wrap;
}

.container {
	max-width: 900px;
	margin-right: auto;
	margin-left:  auto;
	margin-top: 60px;
	padding-top: 20px;
}

.topthreewinner, .topthreeloser {
	background-color: #faf2ff;
    box-sizing: border-box;
    padding: 10px;
    width: 375px;
    margin: auto;
    margin-bottom: 15px;

}

.topheader {
	text-align: center;
}

.topthreewinner ol, .topthreeloser ol{
	font-size: 20px;
	padding-left: 15px;
}

.topWin3results li, .topLos3results li, .llboardresults li {
	height: 50px;
	box-sizing: border-box;
	padding: 8px;
	font-size: 20px;
}

.top3sym {
	height: 100%;
}

.topContent {
	display: inline-block;
	font-size: 16px
}

.pecentageArrow {
	display: inline-block;
	margin-left: 16px;
}

.fa-sort-asc {
	color: green;
}

.fa-caret-down {
	color: red;
}

.positiveIncrease {
	display: inline-block;
	color: green;
	font-size: 16px;
}

.negativeIncrease {
	display: inline-block;
	color: red;
	font-size: 16px;
}

.leader-looser, .aboutContent {
	display: none;
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.boardclose, .aboutclose {
	float: right;
    position: relative;
    top: -40px;
}

.leader-looser .container, .aboutContent .container {
	background-color: gray;
	box-sizing: border-box;
	padding: 20px;
}

footer {
	position: fixed;
	bottom: 0;
   	width:100%;
   	background-color: black;
   	color: white;
   	text-align: center;
}

@-ms-viewport{
  width: device-width;
}

@media screen and (min-width: 780px) {
	main {
		padding-top: 100px;
	}
}