body {
	margin: 0;
	background-color: #faf2ff;
	font-family: 'Roboto', sans-serif;
}

header {
	background-color: #242f58;
	height: 50px;
	color: white;
	width: 100%;
	padding-right: 20px;
	padding-left: 20px;
	box-sizing: border-box;
	overflow: hidden;
	-webkit-transition: all .5s;
    transition: all .5s;	
}

fieldset {
	padding: 0;
	-webkit-margin-start: 0;
}

.title {
	display: inline-block;
    font-size: 14px;
    margin: 0;
    margin-top: 9px;
    margin-bottom: 9px;
}

h1, h2 {
	margin: 0;
}

h2 {
	margin: 10px;
	font-size: 23px;
}

p {
	font-size: 16px;
}


fieldset {
	border: 0;
}

a {
	color: #003192;
}

a:link    {
	text-decoration:  none;
	font-weight:      bold;
} 

a:visited {
	text-decoration:  none;
	font-weight:      bold;;
} 

a:hover   {
	text-decoration:  underline;
	font-weight:      bold;
	color:            #fff;
} 

a:active  {
	text-decoration:  underline;
	font-weight:      bold;
	color: white;
} 


.container {
	font-size: 0;
	max-width: 1000px;
	margin-right: auto;
	margin-left:  auto;
	padding-top: 5px;
}

#snapshotData {
	display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.topthreebox {
    box-sizing: border-box;
    height: 168px;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;

}

.topheader {
	text-align: center;
}

.topWin3results, .topLoss3results{
	font-size: 20px;
	padding-left: 0;
	text-align: center;
}

.fullcoindataresults:hover {
	background-color: yellow;
}

.topresult, .llboardresults li {
	cursor: pointer;
	height: 20px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 16px;
    display: flex;
}

.topresult:nth-child(1) {
	height: 26px;
	font-size: 21px;
	margin-bottom: 10px;
}

.topresult:nth-child(1) p{
	font-size: 21px;
}

.topresult:nth-child(2) {
	height: 23px;
	font-size: 17px;
	margin-bottom: 10px;
}

.topresult:nth-child(2) p{
	font-size: 17px;
}

.topresult:nth-child(3) {
	height: 17px;
	font-size: 14px;
}

.topresult:nth-child(3) p{
	font-size: 14px;
}

.top3sym {
	height: 100%;
	width: 10%;
}

.top3sym img {
	height: 100%;
}

.topContent {
	width: 60%;
}

.topContent p {
	margin: 0;
}

.fa-sort-asc {
	color: green;
}

.fa-caret-down {
	color: red;
}

.positiveIncrease {
	display: inline-block;
	color: green;
	width: 30%;
}

.positiveIncrease:before {
	content: "\f0d8";
	font-family: FontAwesome;
	color: green;
}

.negativeIncrease {
	display: inline-block;
	color: red;
	width: 30%;
}

.negativeIncrease:before {
	font-family: FontAwesome;
	content: "\f0d7";
	color: red;
}

/*.  modals code */

.modal{
	display: none;
	box-sizing: border-box;
	padding: 20px;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: white;
	padding: 10px;
	max-width: 900px;
	margin: auto;
	margin-top: 30px;
	
}


.llbox{
	overflow-y: scroll;
    height: 93vh;
   
}

input {
	height: 50px;
    border: none;
    float: left;
    box-sizing: border-box;
    padding-left: 10px;
    outline: none;
}

.btn {
	height: 50px;
    border: none;
    font-size: 20px;
    color: white;
    outline: none;
    background-color: #242f58;
    -webkit-transition: all .2s;
    transition: all .2s;	
}

.btn:hover {
	background-color: yellow;
	color: #242f58;
}

.boardclose, .aboutclose, .searchclose {
	font-size: 50px;
    position: relative;
    text-align: left;
}

div.boardclose {
	top: 20;
}


.dayLeader, .searchresult {
	box-sizing: border-box;
	padding: 5px;
	width: 100%;
	min-height: 520px;
	margin-bottom: 20px;
  
}

.searchresult {
	text-align: center;
}

.dayLeader {  
	box-sizing: border-box;
	min-height: 420px;    
	font-size: 0;                                           
}

.leaderData{
	text-align: center;
	display: flex;
	flex-wrap: wrap;
}

#dayLeaderChart, #searchChart {
	height: 400px;
	width: 100%;
	margin: auto;
}

#searchChart {
	font-size: 40px;
}

.imageIcon {
	height: 100px;
	width: 18%;
	padding: 5px;
	box-sizing: border-box;
}

.imageIcon img{
	display: block;
	margin: auto;
	height: 100%;
}

.searchCoinInfo, .searchGenInfo {
	display: flex;
    flex-wrap: wrap;
	width: 64%;
	min-height: 100px;
	font-size: 16px;
}

.searchGenInfo {
	width: 100%;
	font-size: 20px;
}

.coinName{
  font-size: 20px;
  width: 30%;
  height: 50%;
}

.coinPercentage {
  margin: auto;
  font-size: 20px;
  width: 25%;
  height: 50%;
}

.coinCost{
  margin: auto;
  width: 40%;
  height: 50%;
  font-size: 20px;
}

.priceData {
  display: inline-block;
  width: 32%;
  height: 50%;
  margin: auto;
  text-align: center;
}

.priceData h4, .priceData p {
  	margin: 0;
}

.searchRanking {
	font-size: 20px;
	display: inline-block;
	float: left;
	width: 18%;
	text-align: center;
	height: 100PX;
	box-sizing: border-box;
	padding: 5px;
}

.searchRanking h2 {
	margin: 0;
	margin-bottom: 5px;
}

.searchRanking p {
	font-size: 40px;
	margin: 0;
}

.innerbox {
	box-sizing: border-box;
    width: 100%;
	background-color: white;
    box-shadow: 1px 1px 10px 1px #b7a6a6;
    padding: 5px;
}


/*This is for all the news links*/
.news{
	box-sizing: border-box;
	padding: 5px;
	text-align: center;
}


article {
	box-sizing: border-box;
	text-align: left;
	overflow: auto;
	padding: 5px;
	font-size: 0;
	background-color: white;
    margin-bottom: 5px;
    box-shadow: 1px 1px 10px 1px #b7a6a6;
	-webkit-transition: all .6s;
    transition: all .6s;	
}

article:hover {
	box-shadow: 3px 4px 8px 1px black;
	/*box-shadow: 3px 2px 8px black;*/
}

article a:hover   {
	
	text-decoration:  underline;
	font-weight:      bold;
	color:            #82989e;
} 

.newsImgBox {
	width: 30%;
    display: inline-block;
    float: left;
}

.newsImgBox img{
	width: 100%;
}

.newsTitleBox {
	width: 70%;
    display: inline-block;
    float: left;
    padding-left: 5px;
    box-sizing: border-box;
}

.newsTitleBox h4 {
	margin: 0;
	font-size: 22px;
}

.newsTitleBox p {
	margin: 0;
	margin-top: 10px;
	font-size: 18px;
}

/*this css is for the reponsive nar bar*/
.navopenbars {
	margin-right: 15px;
}

.navfullscreenlinks, #fullscreenfinder {
	display: none;
}

.fullheight {
	height: 204px;
} 


/*this css controls the footer and its elements*/
footer {
	box-sizing: border-box;
	min-height: 90px;
	background-color: #242f58;
	padding: 13px;
	color: white;
	text-align: center;
   	font-size: 16px;
}

footer a {
	color: white;
}

footer a:hover {
	color: yellow;
	text-decoration: none;
}

.fa-btc {
  -webkit-animation:spin 4s linear infinite;
}

@-webkit-keyframes spin {
   100% { -webkit-transform: rotate(360deg); } 
}

/*this is the responsive changes*/
@media screen and (max-width: 550px) {
	.searchCoinInfo {
		width: 100%;
		order: 3;
	}

	.imageIcon {
		width: 50%;
	}

	.searchRanking {
		width: 50%;
	}

	.imageIcon {
		height: 60px;
	}

	.searchRanking {
		height: 60PX;
	}

	.searchRanking h2 {
		font-size: 22px
		margin: 0;
		margin-bottom: 5px;
	}

	.searchRanking p {
		font-size: 22px;
		margin: 0;
	}
	
}

@media screen and (max-width: 880px) {
	.about, .LLBoard {
		width: 100%;
	}

	input {
		width: 70%;
	}

	.search{
		width: 30%;
	}

	.navfullscreenlinks, #fullscreenfinder {
		display: block;
	}

	
}

@media	screen and (min-width: 720px) {
	.container {
		display: flex;
	}

	#snapshotData {
		width: 70%;
		font-size: 0;
	}

	
	.news {
		width: 30%;
	}

	.newsTitleBox h4 {
		font-size: 16px;
	}

	.newsTitleBox p {
		font-size: 12px;
	}

}

@media screen and (min-width: 780px) {
	.llboardresults{
		padding-left: 75px;
	}

	.llboardresults .topContent p{
		font-size: 30px;
	}

	.llboardresults li {
		height: 36px;
		font-size: 32px;
	}
	#searchChart {
		height: 600px;
	}
}

@media screen and (min-width: 880px) {
	nav  {
		float: right;
		display: flex;
	}

	#fullscreenfinder {
		order: 2;
	}

	header form {
		display: inline-block;
	}

	#mySidenav {
		display: none;
	}

	.navopenbars {
		margin-right: 15px;
		display: none;
	}

	.navfullscreenlinks, #fullscreenfinder {
		display: inline-block;
	}

	.topthreebox {
		width: 50%;
		/*float: left;*/
	}
}


